<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'students')}">

<body>


  <h2>Student Information</h2>


  <table class="table table-striped" th:object="${student}">
    <tr>
      <th>Name</th>
      <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td th:text="*{gender}" />
      </td>
    </tr>
    <tr>
      <th>Birth Date</th>
      <td th:text="*{#temporals.format(birthDate, 'yyyy-MM-dd')}" />
    </tr>
    <tr>
      <th>Hometown</th>
      <td th:text="*{hometown}" />
      </td>
    </tr>
    <tr>
      <th>Department</th>
      <td th:text="*{department}" />
      </td>
    </tr>
    <tr>
      <th>Student Id</th>
      <td th:text="*{studentId}" />
      </td>
    </tr>
  </table>

  <a th:href="@{{id}/edit(id=${student.id})}" class="btn btn-default">Edit</a>
  <a th:href="@{{id}/delete(id=${student.id})}" class="btn btn-default">Delete</a>
  
  </body>

</html>
